.header{
    background-color: #607FFF;
    height: 55px;
    display: flex;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
}

.divLogo{
    width: 10%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.divMenu{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    gap: 3rem;
}

.li{
    list-style: none;
    margin: 0%;
    padding: 0%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    color: white;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.a:hover{
    background-color: #5672e2;
    border-radius: 15px;
}

.aEntrar{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    color: white;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.aEntrar:hover{
    background-color: #5672e2;
    border-radius: 15px;
}

.divButton{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.menuIcon{
    display: none;
}

@media (max-width: 720px) {

    .divButton{
        width: 90%;
        display: flex;
        justify-content: end;
    }

    .divMenuMobile{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        background-color: #5672e2;
        position: absolute;
        top: 55px;
        right: 0;
        height: calc(100% - 55px);
        width: 100%;
        transition: 0.5s;
    }

    .ul{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .li{
        width: 100%;
    }

    .a{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .a:hover{
        background-color: #4a62c4;
    }

    .menuIcon{
        width: 55px;
        height: 55px;
        color: white;
        cursor: pointer;
        display: block;
        padding: 10px;
    }

    .menuIcon:hover{
        background-color: #4a62c4;
    }
}